@font-face{
	font-family: 'Erisblue';
	src: url("Erisblue Script Light.ttf") format("truetype");
}

body {
	margin: 10px;
	font-family: 'Montserrat';
	background-color: #ed407a;
	background-image: url("bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	align-items: center;
	min-height: 100vh;
}

h1{
	color: #ed407a;
	text-shadow: white 0.25px 0.25px;
}

h2{
	margin: 10px;
	margin-bottom: 40px;
	font-family: 'Erisblue';
	font-size: 60px;
	color: #b4004e;
	text-shadow: black 5px 5px;
}

#totalTime{
	color: white;
}

#playlist {
	list-style: inside square;
	font-size: 20px;
	background: #f10a9f4a;
	width: 550px;
	margin: auto;
	padding: 0;
	box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.25);
}

#playlist li {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}



#playlist li:last-child {
	border-bottom: 0;
}

a {
	color: white;
	text-decoration: none;
}

ul span {
	display: inline-block;
	text-align: left;
}

ul span:first-of-type {
	color: white;
	text-align: right;
}