@font-face{
  font-family: 'Disaster';
  src: url("sources/After_Disaster.ttf");
}


html {
  font-size: 100px;
}

body {
  color: black;
  margin: 0;
  font-family: 'Montserrat';
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(sources/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.arrow {
  width: 250px;
  overflow: hidden;
  transition: all 0.2s;
  transform: rotate(0deg);
  display: inline-block;
}

h1 {
  color: black;
  font-weight: 100;
  font-size: 60px;
  display: flex;
  align-items: center;
}

.units {
  font-size: 45px;
}

p{
  color: black;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

#distanceT{
  margin-top: 10px;
  font-size: 25px; 
}

#know{
  font-family: 'Montserrat';
  font-size: 30px;
  background: rgba(0,0,0,0);
  border:1px solid #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

#udeaT{
  margin-top: 5px;
  margin-bottom: 5px;
}

#uni{
  font-family: 'Disaster';
  font-size: 45px;
  color: #4cb36a;
  text-shadow: white 0.5px 0.5px;
}
    /*Compass: https://thenounproject.com/search/?q=compass&i=592352*/